body {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Oldenburg', cursive;
  text-align: center;
  background-color: black;
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
  background-image: url("images/hall.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 170vh;
  width: 100%;
}

p {
  font-size: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.7));
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Texturina', serif;
}

h1 {
  font-size: 50px;
}

.title > img {
  height: 100px;
  margin: 0px 50px;
}

.hat-background {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
}

.background {
  /* background-image: url("images/hall.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; */
}

.hat-img {
  width: 200px;
}

.hat-img > img {
  max-width:100%;
  height: auto;
}

.hat-text {
  width: 300px;
}

.hat-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  /* background-color: rgba(0, 0, 0, 0.7); */
  padding: 60px 40px 20px 40px;
  border-radius: 15px;
  margin: 20px;
}

.form-container {
  opacity: 0;
  display: inline-block;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 15px;
}

.house-container {
  opacity: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.house-container > div {
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 15px;
  width: 250px
}

.house-container > div > img {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}


.student-card {
  display: flex;
  justify-content: space-around;
}

.name-part {
  text-align: left;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  margin: 5px 0px;
  padding: 5px 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.expel-part {
  font-size: 15px;
  color: rgb(170, 115, 115);
  text-align: left;
  background-color: rgb(63, 7, 7);
  border-radius: 5px;
  margin: 5px 0px;
  padding: 5px 10px;
  border: none;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.gryffindor > .student-card > .name-part {
  color: rgb(217, 75, 75);
}

.hufflepuff > .student-card > .name-part {
  color: rgb(217, 182, 70);
}

.ravenclaw > .student-card > .name-part {
  color: rgb(80, 156, 207);
}

.slytherin > .student-card > .name-part {
  color: rgb(53, 158, 53);
}

.voldemort > .student-card > .name-part {
  background-color: rgb(63, 7, 7);
  color: rgb(186, 186, 186);
}
